@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
color: white;
background: black;
font-family: 'Roboto', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}
.count{
  font-family: 'Roboto', sans-serif;
}
.count ul{
  color:white;
  background-color: black;
  display: flex;
  list-style-type: none;
  align-items: center;
  
  
}
.count ul li{
  padding: 0 12px;
}
.brand img{
  width: 44px;
  margin: 0 6px;
  
}
.brand{
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.container{
  height: 70%;
  background-color: black;
  width: 80%;
  margin: 30px auto;
  display: flex;
  background-image: url('Animegirl.webp');
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 34px;
}
.headings img{
  width: 8%;
  height: 2%;
  border-radius: 30px;
  text-align: center;
  display: flex;
  margin-top: -2px;

}
 .songlist h1{
  margin: 0px 20px;
 }
 
 .songitems{
  justify-content: space-between;
  display: flex;
  width: 30%;
  margin: 30px;
  text-align: center;
  border: 2px solid rgb(30, 25, 25);
  padding: 9px;
  border-radius: 50px;
  background-color: grey;
  margin-top: 30px;
  color: white;
 }

 .bottom{
  position:fixed;
  bottom: 0;
  height: 68px;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction:column;
 }
 #progress{
  width: 80vw;
  margin-bottom: 30px;
  cursor: pointer;
  background-color: black;
 }
 .icons{
  font-size: 35px;
  text-align: center;
  margin-top: -22px;
  cursor: pointer;
 }
.fa{
  cursor: pointer;
  color:white;
  margin: 2px;
}
.songinfo{
  position: absolute;
  left: 0px;
  color: white;
  text-align: center;
  margin: 5px;
  
}
.songinfo img{
  opacity: 0;
  transition: opacity 0.4s ease-in;
}